<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Cases" verbose="1">
    <test name="Verify user is logged in">
        <parameter name="testRunId1" value="TCTC-1"/>
        <classes>
            <class name="Test.ToVerifyUserIsAbleToLogin"/>
        </classes>
    </test>

    <test name="Verify user is navigated to admin page">
        <parameter name="testRunId2" value="TCTC-2"/>
        <classes>
            <class name="Test.ToVerifyUserIsRedirectedToAdminPage"/>
        </classes>
    </test>
</suite>